In [6]:
import tensorflow as tf
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

import pandas as pd
from sklearn.utils import shuffle
from sklearn.preprocessing import scale

df = pd.read_csv("C:/Users/SSL98/Desktop/神经网络和深度学习作业文件/第七周作业/data/boston.csv",header=0)
print(df.describe())

             CRIM         ZN       INDUS         CHAS         NOX          RM  \
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779    0.069170    0.554695    6.284634
std      8.601545   23.322453    6.860353    0.253994    0.115878    0.702617
min      0.006320    0.000000    0.460000    0.000000    0.385000    3.561000
25%      0.082045    0.000000    5.190000    0.000000    0.449000    5.885500
50%      0.256510    0.000000    9.690000    0.000000    0.538000    6.208500
75%      3.677082   12.500000   18.100000    0.000000    0.624000    6.623500
max     88.976200  100.000000   27.740000    1.000000    0.871000    8.780000

              AGE         DIS         RAD         TAX     PTRATIO       LSTAT  \
count  506.000000  506.000000  506.000000  506.000000  506.000000  506.000000
mean    68.574901    3.795043    9.549407  408.237154   18.455534   12.653063
std     28.148861    2.105710    8.707259  168.537116    2.164946    7.141062
min      2.900000    1.129600    1.000000  187.000000   12.600000    1.730000
25%     45.025000    2.100175    4.000000  279.000000   17.400000    6.950000
50%     77.500000    3.207450    5.000000  330.000000   19.050000   11.360000
75%     94.075000    5.188425   24.000000  666.000000   20.200000   16.955000
max    100.000000   12.126500   24.000000  711.000000   22.000000   37.970000

             MEDV
count  506.000000
mean    22.532806
std      9.197104
min      5.000000
25%     17.025000
50%     21.200000
75%     25.000000
max     50.000000

In [3]:
ds=df.values
print(ds.shape)

(506, 13)

In [4]:
print(ds)

[[6.3200e-03 1.8000e+01 2.3100e+00 ... 1.5300e+01 4.9800e+00 2.4000e+01]
 [2.7310e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 9.1400e+00 2.1600e+01]
 [2.7290e-02 0.0000e+00 7.0700e+00 ... 1.7800e+01 4.0300e+00 3.4700e+01]
 ...
 [6.0760e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 5.6400e+00 2.3900e+01]
 [1.0959e-01 0.0000e+00 1.1930e+01 ... 2.1000e+01 6.4800e+00 2.2000e+01]
 [4.7410e-02 0.0000e+00 1.1930e+01 ... 2.1000e+01 7.8800e+00 1.1900e+01]]

In [7]:
df.head(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7

In [8]:
df.tail(3)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV
503,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,5.64,23.9
504,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,6.48,22.0
505,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,7.88,11.9

In [9]:
#x_data 为归一化后的前12列特征数据
x_data = ds[:,:12]

#y_data为最后一列数据
y_data = ds[:,12]

print('x_data shape=',x_data.shape)
print('y_data shape=',y_data.shape)

x_data shape= (506, 12)
y_data shape= (506,)

In [10]:
train_num = 300   #训练集数目
valid_num = 100   #验证集数目
test_num = len(x_data)-train_num-valid_num   #测试集数目

#训练集划分
x_train = x_data[:train_num]
y_train = y_data[:train_num]

#验证集划分
x_valid = x_data[train_num:train_num+valid_num]
y_valid = y_data[train_num:train_num+valid_num]

#测试集划分
x_test = x_data[train_num+valid_num:train_num+valid_num+test_num]
y_test = y_data[train_num+valid_num:train_num+valid_num+test_num]

In [24]:
x_train = tf.cast(x_train,dtype=tf.float32)
x_valid = tf.cast(x_valid,dtype=tf.float32)
x_test = tf.cast(x_test,dtype=tf.float32)

In [13]:
def model(x,w,b):
    return tf.matmul(x,w)+b

In [14]:
W=tf.Variable(tf.random.normal([12,1],mean=0.0,stddev=1.0,dtype=tf.float32))
B=tf.Variable(tf.zeros(1),dtype=tf.float32)

In [15]:
print(W)
print(B)

<tf.Variable 'Variable:0' shape=(12, 1) dtype=float32, numpy=
array([[-1.6801869 ],
       [ 0.14513367],
       [-2.296348  ],
       [-1.1193835 ],
       [-1.2683977 ],
       [ 0.0269998 ],
       [ 1.8946371 ],
       [-0.4304818 ],
       [ 0.7036935 ],
       [ 1.054733  ],
       [ 0.04451162],
       [-0.5000528 ]], dtype=float32)>
<tf.Variable 'Variable:0' shape=(1,) dtype=float32, numpy=array([0.], dtype=float32)>

In [16]:
training_epochs = 50 #迭代次数
learning_rate = 0.001 #学习率
batch_size = 10 #批量训练一次的样本数

In [17]:
#采用均方差作为损失函数
def loss(x,y,w,b):
    err = model(x,w,b) - y
    squared_err = tf.square(err)
    return tf.reduce_mean(squared_err) #均方差

In [18]:
#计算样本数据[x,y]在参数[w,b]点上的梯度
def grad(x,y,w,b):
    with tf.GradientTape() as tape:
        loss_ = loss(x,y,w,b)
    return tape.gradient(loss_, [w,b]) #返回梯度向量

In [20]:
optimizer = tf.keras.optimizers.SGD(learning_rate) #创建优化器，指定学习率

In [26]:
loss_list_train = [] #用于保存训练集loss值的列表
loss_list_valid = [] #用于保存验证集loss值的列表
total_step = int(train_num/batch_size)

for epoch in range (training_epochs):
    for step in range(total_step):
        xs = x_train[step*batch_size:(step+1)*batch_size,:]
        ys = y_train[step*batch_size:(step+1)*batch_size]
        
        grads = grad(xs,ys,W,B)
        optimizer.apply_gradients(zip(grads,[W,B])) 
        
    loss_train = loss(x_train, y_train, W, B).numpy()
    loss_valid = loss(x_valid, y_valid, W, B).numpy()
    loss_list_train.append(loss_train)
    loss_list_valid.append(loss_valid)
    print("epoch={:3d} ,train_loss={:.4f},valid_loss={:.4f}".format(epoch+1,loss_train,loss_valid))

epoch=  1 ,train_loss=nan,valid_loss=nan
epoch=  2 ,train_loss=nan,valid_loss=nan
epoch=  3 ,train_loss=nan,valid_loss=nan
epoch=  4 ,train_loss=nan,valid_loss=nan
epoch=  5 ,train_loss=nan,valid_loss=nan
epoch=  6 ,train_loss=nan,valid_loss=nan
epoch=  7 ,train_loss=nan,valid_loss=nan
epoch=  8 ,train_loss=nan,valid_loss=nan
epoch=  9 ,train_loss=nan,valid_loss=nan
epoch= 10 ,train_loss=nan,valid_loss=nan
epoch= 11 ,train_loss=nan,valid_loss=nan
epoch= 12 ,train_loss=nan,valid_loss=nan
epoch= 13 ,train_loss=nan,valid_loss=nan
epoch= 14 ,train_loss=nan,valid_loss=nan
epoch= 15 ,train_loss=nan,valid_loss=nan
epoch= 16 ,train_loss=nan,valid_loss=nan
epoch= 17 ,train_loss=nan,valid_loss=nan
epoch= 18 ,train_loss=nan,valid_loss=nan
epoch= 19 ,train_loss=nan,valid_loss=nan
epoch= 20 ,train_loss=nan,valid_loss=nan
epoch= 21 ,train_loss=nan,valid_loss=nan
epoch= 22 ,train_loss=nan,valid_loss=nan
epoch= 23 ,train_loss=nan,valid_loss=nan
epoch= 24 ,train_loss=nan,valid_loss=nan
epoch= 25 ,train_loss=nan,valid_loss=nan
epoch= 26 ,train_loss=nan,valid_loss=nan
epoch= 27 ,train_loss=nan,valid_loss=nan
epoch= 28 ,train_loss=nan,valid_loss=nan
epoch= 29 ,train_loss=nan,valid_loss=nan
epoch= 30 ,train_loss=nan,valid_loss=nan
epoch= 31 ,train_loss=nan,valid_loss=nan
epoch= 32 ,train_loss=nan,valid_loss=nan
epoch= 33 ,train_loss=nan,valid_loss=nan
epoch= 34 ,train_loss=nan,valid_loss=nan
epoch= 35 ,train_loss=nan,valid_loss=nan
epoch= 36 ,train_loss=nan,valid_loss=nan
epoch= 37 ,train_loss=nan,valid_loss=nan
epoch= 38 ,train_loss=nan,valid_loss=nan
epoch= 39 ,train_loss=nan,valid_loss=nan
epoch= 40 ,train_loss=nan,valid_loss=nan
epoch= 41 ,train_loss=nan,valid_loss=nan
epoch= 42 ,train_loss=nan,valid_loss=nan
epoch= 43 ,train_loss=nan,valid_loss=nan
epoch= 44 ,train_loss=nan,valid_loss=nan
epoch= 45 ,train_loss=nan,valid_loss=nan
epoch= 46 ,train_loss=nan,valid_loss=nan
epoch= 47 ,train_loss=nan,valid_loss=nan
epoch= 48 ,train_loss=nan,valid_loss=nan
epoch= 49 ,train_loss=nan,valid_loss=nan
epoch= 50 ,train_loss=nan,valid_loss=nan